:root {
  --container-gap: 1rem;
}

html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  @apply text-body;
}

.row {
  @apply grid gap-1 md:grid-cols-12 md:gap-2;
}

.ctr-p{padding: var(--container-gap) var(--container-gap)}
.ctr-px{padding: 0 var(--container-gap)}
.ctr-py{padding: var(--container-gap) 0}
.ctr-pl{padding-left: var(--container-gap)}
.ctr-pr{padding-right: var(--container-gap)}
.ctr-pt{padding-top: var(--container-gap)}
.ctr-pb{padding-bottom: var(--container-gap)}

/*//////////////////////////////////////////////////////////*/
/*/////////////////////////// XS ///////////////////////////*/
/*//////////////////////////////////////////////////////////*/

@media (min-width:theme("screens.xs") ) {
  :root {
    --container-gap: 2rem;
  }
}

/*//////////////////////////////////////////////////////////*/
/*////////////////////////// SM ////////////////////////////*/
/*//////////////////////////////////////////////////////////*/

@media (min-width:theme("screens.sm") ) {
  :root {
    --container-gap: 1.5rem;
  }
}

/*//////////////////////////////////////////////////////////*/
/*////////////////////////// XG ////////////////////////////*/
/*//////////////////////////////////////////////////////////*/

/* @media (min-width: theme("screens.xg") ) {
  :root {
    --container-gap: 3rem;
  }
} */

/*//////////////////////////////////////////////////////////*/
/*/////////////////////////// XL ///////////////////////////*/
/*//////////////////////////////////////////////////////////*/

/* @media (min-width: theme("screens.xl") ) {
  :root {
    --container-gap: 4rem;
  }
} */

/*//////////////////////////////////////////////////////////*/
/*////////////////////////// 2XL ///////////////////////////*/
/*//////////////////////////////////////////////////////////*/

/* @media (min-width: theme("screens.2xl") ) {
  :root {
    --container-gap: 3.5%;
  }
} */

/*//////////////////////////////////////////////////////////*/
/*/////////////////////////// 3XL //////////////////////////*/
/*//////////////////////////////////////////////////////////*/

/* @media (min-width: theme("screens.3xl") ) {
  :root {
    --container-gap: 4%;
  }
} */

/*//////////////////////////////////////////////////////////*/
/*////////////////////////// 4XL ///////////////////////////*/
/*//////////////////////////////////////////////////////////*/

/* @media (min-width: theme("screens.4xl") ) {
  :root {
    --container-gap: 4%;
  }
} */

/*//////////////////////////////////////////////////////////*/
/*/////////////////////////// 5XL //////////////////////////*/
/*//////////////////////////////////////////////////////////*/

/* @media (min-width: theme("screens.5xl") ) {
  :root {
    --container-gap: 10%;
  }
} */
