#menu {
    @apply 
      fixed 
      flex flex-col 
      top-0 left-0 
      w-100% h-full
      px-2 py-6
      transition-transform
      duration-500
      z-[999]

      xg:relative 
      xg:h-auto
      xg:bg-transparent
      xg:px-0 xg:py-0
      xg:flex-row xg:justify-between;
      background-color: color-mix( in srgb, theme(colors.blue), transparent 15% );
      backdrop-filter: blur(4px);

      a {
        @apply mb-1 xg:mb-0 text-white;
        font-size: var(--h1);
      }

  }


  @media (max-width: theme("screens.xg")) {

    #menu {
      transform: translateX(100%);
    }

    body.menu-in {
      #menu {
        transform: translateX(0);
      }
    }

  }

/*//////////////////////////////////////////////////////////*/
/*///////////////////////// 992px //////////////////////////*/
/*//////////////////////////////////////////////////////////*/

  @media (min-width: theme("screens.xg")) {

    #menu {

      @apply bg-transparent gap-3 !important;
      backdrop-filter: none;

      a {
        font-size: var(--text-body);
        @apply text-black;
        padding: .7rem 3rem;
        font-weight: 400;
        border: 2px solid #000;
        border-radius: 1000px;

        &:hover{
            background: #000;
            color: #fff;
        }

      }

    }

    [data-platform="ios"]  #menu a {
        padding: 1rem 3rem .7rem 3rem;
    }

  }