@font-face {
  font-family: 'Cuch St';
  src: url('fonts/CuchLightSt.woff2') format('woff2');
  font-weight: 300;
  font-style: light
}

@font-face {
  font-family: 'Cuch St';
  src: url('fonts/CuchRegularSt.woff2') format('woff2');
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: 'Cuch St';
  src: url('fonts/CuchMediumSt.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap
}

:root {
  --html: 10px;
  --h1: 2.8rem;
  --text-body: 1.8rem;
  --small: 1.4rem;
}

html {
  font-size: var(--html);
}

body {
  font-size: var(--text-body);
}

p {
  @apply text-pretty leading-[1.4];
}

.text-h1 {
  @apply text-balance leading-[1.1];
  font-weight: lighter;
}
/*//////////////////////////////////////////////////////////*/
/*///////////////////////// 375px //////////////////////////*/
/*//////////////////////////////////////////////////////////*/

@media (min-width: theme("screens.xs")) {
  :root {
    --html: 10px;
  }
}

/*//////////////////////////////////////////////////////////*/
/*///////////////////////// 640px //////////////////////////*/
/*//////////////////////////////////////////////////////////*/

@media (min-width: theme("screens.sm")) {
  :root {
    --html: 11px;
  }
}

/*//////////////////////////////////////////////////////////*/
/*///////////////////////// 768px //////////////////////////*/
/*//////////////////////////////////////////////////////////*/

/* @media (min-width: theme("screens.md")) {
    :root {
      --html: 11px;
    }
  }
   */

/*//////////////////////////////////////////////////////////*/
/*///////////////////////// 992px //////////////////////////*/
/*//////////////////////////////////////////////////////////*/

@media (min-width: theme("screens.xg")) {
  :root {
    --html: 10px;
    --text-body: 2.2rem;
    --h1: 4.7rem;
    --small: 1.6rem;
  }
}

/*//////////////////////////////////////////////////////////*/
/*////////////////////////// 1064px ////////////////////////*/
/*//////////////////////////////////////////////////////////*/

@media (min-width: theme("screens.xl")) {
  :root {
    --html: 8.5px;
  }
}

/*//////////////////////////////////////////////////////////*/
/*//////////////////////// 1280px //////////////////////////*/
/*//////////////////////////////////////////////////////////*/

@media (min-width: theme("screens.2xl")) {
  :root {
    --html: 9px;
  }
}

/*//////////////////////////////////////////////////////////*/
/*///////////////////////// 1536px /////////////////////////*/
/*//////////////////////////////////////////////////////////*/

@media (min-width: theme("screens.3xl")) {
  :root {
    --html: 9.5px;
  }
}

/*//////////////////////////////////////////////////////////*/
/*///////////////////////// 1920px /////////////////////////*/
/*//////////////////////////////////////////////////////////*/

@media (min-width: theme("screens.4xl")) {
  :root {
    --html: 10px;
  }
}

/*//////////////////////////////////////////////////////////*/
/*///////////////////////// 2560px /////////////////////////*/
/*//////////////////////////////////////////////////////////*/

@media (min-width: theme("screens.5xl")) {
  :root {
    --html: 15px;
  }
}
