@font-face {
    font-family: 'Cuch Regular St';
    src: url('CuchRegularSt.woff2') format('woff2'),
        url('CuchRegularSt.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

